


.header{
    background-color: rgb(255, 255, 255);
    padding: 10px;

}

.logo{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.search-btn{
    border: none;
    background-color: rgba(178, 34, 34, 0);
}

.logo img{
    mix-blend-mode: multiply;
}
.nav li{
margin: 0xp 10px;
padding: 10px;
}
.nav .nav-link{
    border: none;
    color: #19202C;
    background-color: rgb(255, 255, 255);

    transition: all .5s;
}
.nav-link:hover{
    background-color: rgb(215, 215, 215);
    /* border-radius: 10px; */
}
.cart {
    transition: all .5s;
}
.cart:hover{
    transform: scale(1.2);
}

.text-danger{
    font-size: 15px;
    font-weight:bold;
}